.input {
    min-width: 300px;
    padding: 10px 15px;
    border: 3px solid var(--color-lightgray);
    border-radius: 3px;
    font-size: var(--font-size-medium);
    font-family: var(--font-family-main);
    outline: none;
    padding-right: calc(var(--clear-width) + 20px);
}

.input:focus {
   border: 3px solid var(--color-blue); 
}

.wrapper__input {
 position: relative;
 display: inline-flex;
 --border-radius: 3px; 
 --border: 3px; 
 --clear-width: 35px;
}

.clear {
    position: absolute;
    top: 3px;
    right: 3px;
    height: 35px;
    width: 35px;
    padding: 10px 10px;
    cursor: pointer; 
    object-fit: contain;
    object-position: center center;
    transition: .5s;
}